.logo {
    float: left;
    width: 100px;
    background-color: transparent;
    position: relative;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 10px;
}

.navbar {
    overflow: hidden;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0px;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a.active {
    background-color: darkblue;
    color: white;
}

.dropbtnActive {
    background-color: darkblue;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus, .dropbtnActive:hover {
    background-color: #009BE7;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #009BE7;
}

.show {
    display: block;
}

.block {
    background-image: url('../resources/background.jpg');
    background-position: bottom;
    text-align: center;
}

.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.centered {
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(60, 60, 60, 0.5);
    border-radius: 5px;
}

.child {
    width: 400px;
    color: white;
    font-size: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.child p {
    margin-bottom: 0px;
    margin-top: 0px;
}

body {
    margin: 0 0 0 0;
}
